body {
    background-color: burlywood;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-family: poppinsmedium;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

input[type="text"],
input[type="email"] {
    margin-top: 20px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background-color: white;
    color: white;
}

input[type="submit"] {
    height: 50px;
    width: 100%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(160, 20, 240);
    transition: 0.3s all;
}
